
/*=================================
    28.Ecommerce CSS
=================================*/

.adminpopular-wrapper dl {
    margin-bottom: 0px;
}

.ap-order-view dt {
    line-height: 35px;
}

.ap-dark {
    color: #333333;
}

.ap-order-view dd {
    line-height: 35px;
}

.ap-order-view .dropdown-menu {
    left: -155px;
}
#sampleTable_length{
    padding-top: 15px;
}
.ap-order-view .float-right{
    float: right;
}
.text-right{
    text-align: right;
}