
/*==================================
    10.Widget Card CSS
====================================*/

.widget-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    color: #FFF;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.widget-small .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 85px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px 0 0 4px;
    font-size: 2.5rem;
}

.widget-small .info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 20px;
    -ms-flex-item-align: center;
    align-self: center;
}

.widget-small .info h4 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.1rem;
}

.widget-small .info p {
    margin: 0;
    font-size: 16px;
}

.widget-small.danger {
    background-color: #dc3545;
}

.widget-small.danger.coloured-icon {
    background-color: #fff;
    color: #2a2a2a;
}

.widget-small.danger.coloured-icon .icon {
    background-color: #dc3545;
    color: #fff;
}

section.widget-medium {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.widget-medium .symbol {
    width: 30%;
    padding: 50px 15px;
}

.widget-medium .value {
    width: 68%;
    margin-top: 15px;
    padding-left: 10%;
}

.widget-medium .value {
    float: right;
    text-align: left;
}

.widget-medium .symbol,
.widget-medium .value {
    display: inline-block;
    text-align: center;
}

.widget-medium .value h1 {
    font-weight: 300;
}

.widget-medium .value h1,
.widget-medium .value p {
    margin: 0px;
    padding: 0px;
}

.widget-medium .symbol {
    width: 30%;
    padding: 50px 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px 0 0 4px;
    font-size: 2.5rem;
}

.widget-medium .symbol,
.widget-medium .value {
    display: inline-block;
    text-align: center;
}

section.widget-medium {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}