/*=================================
    12.Recent Order
*=================================*/

.outline-badge-primary {
    color: #1b55e2;
    background-color: transparent;
    border: 1px solid #1b55e2;
}

.badge {
    font-weight: 600;
    line-height: 1.4;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.outline-badge-primary {
    color: #1b55e2;
    background-color: transparent;
    border: 1px solid #1b55e2;
}

.outline-badge-success {
    color: #8dbf42;
    background-color: transparent;
    border: 1px solid #8dbf42;
}

.outline-badge-danger {
    color: #e7515a;
    background-color: transparent;
    border: 1px solid #e7515a;
}

.outline-badge-warning {
    color: #ffc107;
    background-color: transparent;
    border: 1px solid #ffc107;
}

.table tr .td-content .outline-badge-success {
    color: #009688;
    background-color: #e6ffbf;
    border-color: #009688;
}

.td-content.customer-name img {
    width: 39px;
    padding-right: 9px;
}

.td-content.product-name img {
    width: 43px;
    padding-right: 13px;
}
