

/*=================================
    22.Timeline Chat Widget
=================================*/

.gmaps,
.ap-chat-form {
    margin-top: 25px;
    clear: both;
    position: relative;
}

.ap-chat-form .input-cont {
    margin-bottom: 10px;
}

.ap-chat-form .input-cont input {
    margin-bottom: 0px;
}

.ap-chat-form .input-cont input {
    margin-top: 0;
    min-height: 45px;
}

.ap-chat-form .input-cont input {
    background-color: #fff !important;
}

.ap-chat-form .chat-features {
    position: absolute;
    top: 1px;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-features a {
    margin-left: 10px;
}

.chat-features a:last-child {
    padding: 10px 32px;
    border: 1px solid #6861ce;
}

.chat-features a:hover {
    text-decoration: none;
    ;
}

.chat-features a i {
    color: #d0d0d0;
}

.timeline-messages:before {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    top: 0;
    width: 2px;
}

.timeline-messages:before,
.msg-time-chat:before,
.msg-time-chat .text:before {
    content: "";
    left: 60px;
    position: absolute;
    top: -2px;
}

.timeline-messages,
.msg-time-chat,
.timeline-messages .msg-in,
.timeline-messages .msg-out {
    position: relative;
}



.timeline-messages .msg-in .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}


.timeline-messages .msg-out .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}

.msg-time-chat:first-child:before {
    margin-top: 16px;
}

.msg-time-chat:before {
    background: #CCCCCC;
    border: 2px solid #FAFAFA;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    height: 14px;
    margin: 23px 0 0 -6px;
    width: 14px;
}

.msg-time-chat:hover:before {
    background: #41cac0;
}

.msg-time-chat:first-child {
    padding-top: 0;
}

.message-img {
    float: left;
    margin-right: 30px;
    overflow: hidden;
}

.message-img img {
    display: block;
    height: 44px;
    width: 44px;
}

.message-body {
    margin-left: 80px;
}

.msg-time-chat .msg-in .text {
    border: 1px solid #e3e6ed;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.msg-time-chat .msg-out .text {
    border: 1px solid #e3e6ed;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.msg-time-chat p {
    margin: 0;
}

.msg-time-chat .attribution {
    font-size: 11px;
    margin: 0px 0 5px;
}

.msg-time-chat {
    overflow: hidden;
    padding: 8px 0;
}

.msg-in a,
.msg-in a:hover {
    color: #b64c4c;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 13px;
}

.msg-out a,
.msg-out a:hover {
    color: #288f98;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 13px;
}

@media(max-width:1920px) {
    .ap-chat-form .input-cont input {
        padding-right: 30%;
    }
}

@media(max-width:1300px) {
    .ap-chat-form .input-cont input {
        padding-right: 40%;
    }
}
