
/*Daterangepicker*/

.daterangepicker {
    font-family: inherit;
    border-color: #eaecec;
}

.daterangepicker:before,
.daterangepicker:after {
    display: none;
}

.daterangepicker .drp-buttons .btn {
    margin-left: 8px;
    padding: .25rem .5rem;
    font-size: .875rem;
    font-weight: 400;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #00acf0;
}

.daterangepicker td.active.available:hover,
.daterangepicker td.active:hover.available:hover {
    background-color: #00acf0;
}

.daterangepicker td.in-range {
    background-color: #edf9fe;
    color: #324148;
}

.daterangepicker td.in-range.active,
.daterangepicker td.in-range.active:hover {
    background-color: #00acf0;
}

.daterangepicker td.available:hover {
    background-color: #f5f5f6;
}

.daterangepicker th.available:hover {
    background-color: transparent;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
    min-width: 33px;
    width: 33px;
    height: 33px;
    font-size: 13px;
    color: #5e7d8a;
}

.daterangepicker .calendar-table th.active,
.daterangepicker .calendar-table th.active:hover,
.daterangepicker .calendar-table td.active,
.daterangepicker .calendar-table td.active:hover {
    color: #fff;
}

.daterangepicker .calendar-table th.active.available:hover,
.daterangepicker .calendar-table th.active:hover.available:hover,
.daterangepicker .calendar-table td.active.available:hover,
.daterangepicker .calendar-table td.active:hover.available:hover {
    color: #fff;
}

.daterangepicker .calendar-table th.next span,
.daterangepicker .calendar-table th.prev span {
    border-color: #c1c6c8;
}

.daterangepicker .calendar-table th:hover.next span,
.daterangepicker .calendar-table th:hover.prev span {
    border-color: #324148;
}

.daterangepicker th.month {
    width: auto;
    font-size: 14px;
    color: #324148;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600;
}

.daterangepicker .drp-buttons {
    border: none;
    background: #f5f5f6;
}

.daterangepicker .drp-selected {
    font-size: 13px;
    padding-right: 3px;
    color: #324148;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
    color: #e0e3e4;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    background: #fff;
    width: 60px;
    margin: 10px auto;
    border: 2px solid #eaecec;
    padding: 3px;
    border-radius: 4px;
    font-size: 13px;
    color: #324148;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    background: #fff;
    border: 2px solid #eaecec;
    padding: 3px;
    border-radius: 4px;
    font-size: 13px;
    color: #324148;
}

.daterangepicker .ranges li {
    font-size: 14px;
    padding: 10px 12px;
}

.daterangepicker .ranges li:hover {
    background-color: #f5f5f6;
}

.daterangepicker .ranges li.active {
    background-color: #00acf0;
}

.daterangepicker.show-ranges .drp-calendar.left {
    border-color: #eaecec;
}

@media (max-width: 767px) {
    .daterangepicker {
        width: 281px;
    }
    .daterangepicker.show-ranges .drp-calendar.left {
        border: none;
    }
    .daterangepicker .drp-buttons {
        text-align: left;
    }
    .daterangepicker .drp-buttons .btn {
        margin-left: 0;
        margin-right: 8px;
    }
    .daterangepicker .drp-buttons .drp-selected {
        display: block;
        margin-bottom: 10px;
    }
    .daterangepicker.ltr .ranges {
        width: 100%;
    }
    .daterangepicker.ltr .ranges ul {
        width: 100%;
    }
    .daterangepicker.ltr .drp-calendar {
        width: 100%;
    }
    .daterangepicker.ltr .drp-calendar.left .calendar-table {
        padding-right: 0;
    }
}


/*Color Pickr*/

.pickr:before {
    display: none;
    position: absolute;
    font-family: "FontAwesome";
    content: "\f078 ";
    height: 100%;
    width: 35px;
    color: #fff;
    background: #f5f5f6;
    right: 0;
    z-index: 1;
    pointer-events: none;
}

.pickr:after {
    font-family: "FontAwesome";
    content: "\f078 ";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #324148;
    position: absolute;
    right: 0;
    top: 8px;
    z-index: 2;
    width: 35px;
    height: 100%;
    text-align: center;
    pointer-events: none;
}

.pickr .pcr-app {
    z-index: 100;
}

.pickr .pcr-app .pcr-interaction input {
    padding: .3em .5em;
    letter-spacing: inherit;
    border-radius: 4px;
    background: #f5f5f6;
    color: #c1c6c8;
}

.pickr .pcr-app .pcr-interaction .pcr-save {
    background: #00acf0;
    color: #fff;
}

.pickr .pcr-app .pcr-interaction .pcr-clear {
    background: #f83f37;
    color: #fff;
}

.pickr .pcr-app .pcr-interaction .pcr-type.active {
    background: #edf9fe;
    color: #00acf0;
}

.pickr .pcr-app .pcr-interaction .pcr-result {
    color: #324148;
    border: 2px solid #eaecec;
    background: #fff;
    border-radius: .25rem;
}

.pickr .pcr-app .pcr-interaction .pcr-result:focus {
    box-shadow: none;
    border-color: #00acf0;
}

.pickr .pcr-button {
    width: 16%;
    border-radius: 0;
}

@media (max-width: 414px) {
    .pcr-app {
        max-width: 310px;
    }
}

.pickr::after {
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "FontAwesome";
    content: "\f078 ";
    color: #324148;
    position: absolute;
    top: 5px;
    z-index: 2;
    width: 35px;
    height: 100%;
    text-align: center;
    pointer-events: none;
    left: 44px;
}
