
/*Radio*/

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #00acf0;
}

.custom-radio.radio-primary .custom-control-input:checked~.custom-control-label::before,
.custom-radio.radio-sky .custom-control-input:checked~.custom-control-label::before {
    background-color: #00acf0;
}

.custom-radio.radio-success .custom-control-input:checked~.custom-control-label::before,
.custom-radio.radio-green .custom-control-input:checked~.custom-control-label::before {
    background-color: #22af47;
}

.custom-radio.radio-info .custom-control-input:checked~.custom-control-label::before,
.custom-radio.radio-cyan .custom-control-input:checked~.custom-control-label::before {
    background-color: #1ebccd;
}

.custom-radio.radio-warning .custom-control-input:checked~.custom-control-label::before,
.custom-radio.radio-yellow .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffbf36;
}

.custom-radio.radio-danger .custom-control-input:checked~.custom-control-label::before,
.custom-radio.radio-red .custom-control-input:checked~.custom-control-label::before {
    background-color: #f83f37;
}

.custom-radio.radio-secondary .custom-control-input:checked~.custom-control-label::before,
.custom-radio.radio-grey .custom-control-input:checked~.custom-control-label::before {
    background-color: #9e9e9e;
}

.custom-radio.radio-dark .custom-control-input:checked~.custom-control-label::before {
    background-color: #324148;
}

.custom-radio.radio-light .custom-control-input:checked~.custom-control-label::before {
    background-color: #d6d9da;
}

.custom-radio.radio-pink .custom-control-input:checked~.custom-control-label::before {
    background-color: #ed1b60;
}

.custom-radio.radio-purple .custom-control-input:checked~.custom-control-label::before {
    background-color: #ab26aa;
}

.custom-radio.radio-violet .custom-control-input:checked~.custom-control-label::before {
    background-color: #6640b2;
}

.custom-radio.radio-indigo .custom-control-input:checked~.custom-control-label::before {
    background-color: #3a55b1;
}

.custom-radio.radio-blue .custom-control-input:checked~.custom-control-label::before {
    background-color: #0092ee;
}

.custom-radio.radio-teal .custom-control-input:checked~.custom-control-label::before {
    background-color: #009b84;
}

.custom-radio.radio-neon .custom-control-input:checked~.custom-control-label::before {
    background-color: #88c241;
}

.custom-radio.radio-lime .custom-control-input:checked~.custom-control-label::before {
    background-color: #d0d962;
}

.custom-radio.radio-sun .custom-control-input:checked~.custom-control-label::before {
    background-color: #fde335;
}

.custom-radio.radio-orange .custom-control-input:checked~.custom-control-label::before {
    background-color: #ff9528;
}

.custom-radio.radio-pumpkin .custom-control-input:checked~.custom-control-label::before {
    background-color: #ff6028;
}

.custom-radio.radio-brown .custom-control-input:checked~.custom-control-label::before {
    background-color: #7a5449;
}

.custom-radio.radio-gold .custom-control-input:checked~.custom-control-label::before {
    background-color: #c1993f;
}

.custom-radio.radio-smoke .custom-control-input:checked~.custom-control-label::before {
    background-color: #5e7d8a;
}
