/*Range Slider*/

.irs-line {
    height: 7px;
    background: #eaecec;
    border: none;
    border-radius: 0;
}

.irs-bar {
    height: 7px;
    border: none;
    border-radius: 0;
    background: #00acf0;
}

.irs-slider {
    top: 27px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    background: #00acf0;
    border-radius: 50%;
    box-shadow: none;
}

.irs-slider.state_hover,
.irs-slider:hover {
    background: #00acf0;
}

.irs-bar-edge {
    height: 7px;
    top: 33px;
    width: 14px;
    border: none;
    background: #00acf0;
    border-radius: 0;
}

.irs-from,
.irs-to,
.irs-single {
    font-size: 14px;
    background: #324148;
    line-height: 1.5;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.irs-min,
.irs-max {
    color: #324148;
    font-size: 12px;
    background: #eaecec;
    line-height: 1.5;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.irs.irs-sm .irs-line {
    height: 3px;
}

.irs.irs-sm .irs-bar {
    height: 3px;
}

.irs.irs-sm .irs-slider {
    top: 29px;
    width: 12px;
    height: 12px;
}

.irs.irs-sm .irs-bar-edge {
    height: 3px;
}

.irs-sky .irs-bar,
.irs-sky .irs-bar-edge,
.irs-primary .irs-bar,
.irs-primary .irs-bar-edge {
    background: #00acf0;
}

.irs-sky .irs-slider,
.irs-primary .irs-slider {
    background: #00acf0;
}

.irs-sky .irs-slider.state_hover,
.irs-sky .irs-slider:hover,
.irs-primary .irs-slider.state_hover,
.irs-primary .irs-slider:hover {
    background: #00acf0;
}

.irs-cyan .irs-bar,
.irs-cyan .irs-bar-edge,
.irs-info .irs-bar,
.irs-info .irs-bar-edge {
    background: #1ebccd;
}

.irs-cyan .irs-slider,
.irs-info .irs-slider {
    background: #1ebccd;
}

.irs-cyan .irs-slider.state_hover,
.irs-cyan .irs-slider:hover,
.irs-info .irs-slider.state_hover,
.irs-info .irs-slider:hover {
    background: #1ebccd;
}

.irs-green .irs-bar,
.irs-green .irs-bar-edge,
.irs-success .irs-bar,
.irs-success .irs-bar-edge {
    background: #22af47;
}

.irs-green .irs-slider,
.irs-success .irs-slider {
    background: #22af47;
}

.irs-green .irs-slider.state_hover,
.irs-green .irs-slider:hover,
.irs-success .irs-slider.state_hover,
.irs-success .irs-slider:hover {
    background: #22af47;
}

.irs-yellow .irs-bar,
.irs-yellow .irs-bar-edge,
.irs-warning .irs-bar,
.irs-warning .irs-bar-edge {
    background: #ffbf36;
}

.irs-yellow .irs-slider,
.irs-warning .irs-slider {
    background: #ffbf36;
}

.irs-yellow .irs-slider.state_hover,
.irs-yellow .irs-slider:hover,
.irs-warning .irs-slider.state_hover,
.irs-warning .irs-slider:hover {
    background: #ffbf36;
}

.irs-red .irs-bar,
.irs-red .irs-bar-edge,
.irs-danger .irs-bar,
.irs-danger .irs-bar-edge {
    background: #f83f37;
}

.irs-red .irs-slider,
.irs-danger .irs-slider {
    background: #f83f37;
}

.irs-red .irs-slider.state_hover,
.irs-red .irs-slider:hover,
.irs-danger .irs-slider.state_hover,
.irs-danger .irs-slider:hover {
    background: #f83f37;
}

.irs-blue .irs-bar,
.irs-blue .irs-bar-edge {
    background: #0092ee;
}

.irs-blue .irs-slider {
    background: #0092ee;
}

.irs-blue .irs-slider.state_hover,
.irs-blue .irs-slider:hover {
    background: #0092ee;
}

.irs-pink .irs-bar,
.irs-pink .irs-bar-edge {
    background: #ed1b60;
}

.irs-pink .irs-slider {
    background: #ed1b60;
}

.irs-pink .irs-slider.state_hover,
.irs-pink .irs-slider:hover {
    background: #ed1b60;
}

.irs-purple .irs-bar,
.irs-purple .irs-bar-edge {
    background: #ab26aa;
}

.irs-purple .irs-slider {
    background: #ab26aa;
}

.irs-purple .irs-slider.state_hover,
.irs-purple .irs-slider:hover {
    background: #ab26aa;
}

.irs-violet .irs-bar,
.irs-violet .irs-bar-edge {
    background: #6640b2;
}

.irs-violet .irs-slider {
    background: #6640b2;
}

.irs-violet .irs-slider.state_hover,
.irs-violet .irs-slider:hover {
    background: #6640b2;
}

.irs-indigo .irs-bar,
.irs-indigo .irs-bar-edge {
    background: #3a55b1;
}

.irs-indigo .irs-slider {
    background: #3a55b1;
}

.irs-indigo .irs-slider.state_hover,
.irs-indigo .irs-slider:hover {
    background: #3a55b1;
}

.irs-teal .irs-bar,
.irs-teal .irs-bar-edge {
    background: #009b84;
}

.irs-teal .irs-slider {
    background: #009b84;
}

.irs-teal .irs-slider.state_hover,
.irs-teal .irs-slider:hover {
    background: #009b84;
}

.irs-neon .irs-bar,
.irs-neon .irs-bar-edge {
    background: #88c241;
}

.irs-neon .irs-slider {
    background: #88c241;
}

.irs-neon .irs-slider.state_hover,
.irs-neon .irs-slider:hover {
    background: #88c241;
}

.irs-lime .irs-bar,
.irs-lime .irs-bar-edge {
    background: #d0d962;
}

.irs-lime .irs-slider {
    background: #d0d962;
}

.irs-lime .irs-slider.state_hover,
.irs-lime .irs-slider:hover {
    background: #d0d962;
}

.irs-sun .irs-bar,
.irs-sun .irs-bar-edge {
    background: #fde335;
}

.irs-sun .irs-slider {
    background: #fde335;
}

.irs-sun .irs-slider.state_hover,
.irs-sun .irs-slider:hover {
    background: #fde335;
}

.irs-orange .irs-bar,
.irs-orange .irs-bar-edge {
    background: #ff9528;
}

.irs-orange .irs-slider {
    background: #ff9528;
}

.irs-orange .irs-slider.state_hover,
.irs-orange .irs-slider:hover {
    background: #ff9528;
}

.irs-pumpkin .irs-bar,
.irs-pumpkin .irs-bar-edge {
    background: #ff6028;
}

.irs-pumpkin .irs-slider {
    background: #ff6028;
}

.irs-pumpkin .irs-slider.state_hover,
.irs-pumpkin .irs-slider:hover {
    background: #ff6028;
}

.irs-brown .irs-bar,
.irs-brown .irs-bar-edge {
    background: #7a5449;
}

.irs-brown .irs-slider {
    background: #7a5449;
}

.irs-brown .irs-slider.state_hover,
.irs-brown .irs-slider:hover {
    background: #7a5449;
}

.irs-gold .irs-bar,
.irs-gold .irs-bar-edge {
    background: #c1993f;
}

.irs-gold .irs-slider {
    background: #c1993f;
}

.irs-gold .irs-slider.state_hover,
.irs-gold .irs-slider:hover {
    background: #c1993f;
}

.irs-grey .irs-bar,
.irs-grey .irs-bar-edge,
.irs-secondary .irs-bar,
.irs-secondary .irs-bar-edge {
    background: #9e9e9e;
}

.irs-grey .irs-slider,
.irs-secondary .irs-slider {
    background: #9e9e9e;
}

.irs-grey .irs-slider.state_hover,
.irs-grey .irs-slider:hover,
.irs-secondary .irs-slider.state_hover,
.irs-secondary .irs-slider:hover {
    background: #9e9e9e;
}

.irs-dark .irs-bar,
.irs-dark .irs-bar-edge {
    background: #324148;
}

.irs-dark .irs-slider {
    background: #324148;
}

.irs-dark .irs-slider.state_hover,
.irs-dark .irs-slider:hover {
    background: #324148;
}

.irs-light .irs-bar,
.irs-light .irs-bar-edge {
    background: #f5f5f6;
}

.irs-light .irs-slider {
    background: #f5f5f6;
}

.irs-light .irs-slider.state_hover,
.irs-light .irs-slider:hover {
    background: #f5f5f6;
}


/* input-snipper */

.btn-light {
    color: #324148;
    background-color: #eaecec;
    border-color: #eaecec;
}

.btn-outline-light {
    border-color: #eaecec;
    color: #324148;
}

.input-group-lg>.custom-select,
.input-group-lg>.form-control:not(textarea) {
    height: calc(1.5em + 1rem + 2px);
}
