
/*=================================
    14.Page Invoice
*=================================*/

.invoice {
    background: url(../images/pattern-1.svg)no-repeat center bottom;
    background-color: #fafcff;
    background-size: cover;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.invoice-table {
    text-align: right;
}

.invoice-table tr td:last-child {
    padding-right: 40px;
    width: 20%;
}

.invoice-table tr td:last-child {
    padding-right: 40px;
    width: 20%;
}