

/*=================================
    27.Alert CSS
=================================*/

.ap-alert-single {
    margin: 15px 0px;
    text-align: center;
    padding: 30px 10px;
    transition: .3s;
    box-shadow: 0px 0px 5px #ddd;
}

.ap-alert-single h5 {
    font-size: 17px;
    color: #3a405b;
    padding-bottom: 20px;
}

.ap-alert-single button {
    cursor: pointer;
    padding: 7px 20px;
}

.ap-alert-single button:focus {
    border: inherit;
    box-shadow: inherit;
}

.ap-alert-single:hover {
    box-shadow: 0px 0px 15px #ddd;
}

.sweet-alert .sa-input-error {
    top: 23px;
}

.bootstrap-alert {
    font-size: 18px;
    padding-top: 20px;
}

.alert-outline-primary {
    color: #004085;
    border-color: #b8daff;
}

.alert-outline-secondary {
    color: #383d41;
    border-color: #d6d8db;
}

.alert-outline-success {
    color: #155724;
    border-color: #c3e6cb;
}

.alert-outline-danger {
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-outline-warning {
    color: #856404;
    border-color: #ffeeba;
}

.alert-outline-info {
    color: #0c5460;
    border-color: #bee5eb;
}

.alert-outline-light {
    color: #818182;
    border-color: #e6e6f0;
}

.alert-outline-dark {
    color: #1b1e21;
    border-color: #c6c8ca;
}
